# Review Data

In [23]:
import yfinance as yf
import pandas as pd
import sys
!{sys.executable} -m pip install pandas-ta

Requirement already satisfied: pandas-ta in /opt/miniconda3/lib/python3.13/site-packages (0.4.71b0)
Requirement already satisfied: numba==0.61.2 in /opt/miniconda3/lib/python3.13/site-packages (from pandas-ta) (0.61.2)
Requirement already satisfied: numpy>=2.2.6 in /opt/miniconda3/lib/python3.13/site-packages (from pandas-ta) (2.2.6)
Requirement already satisfied: pandas>=2.3.2 in /opt/miniconda3/lib/python3.13/site-packages (from pandas-ta) (2.3.3)
Requirement already satisfied: tqdm>=4.67.1 in /opt/miniconda3/lib/python3.13/site-packages (from pandas-ta) (4.67.1)
Requirement already satisfied: llvmlite<0.45,>=0.44.0dev0 in /opt/miniconda3/lib/python3.13/site-packages (from numba==0.61.2->pandas-ta) (0.44.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/miniconda3/lib/python3.13/site-packages (from pandas>=2.3.2->pandas-ta) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/miniconda3/lib/python3.13/site-packages (from pandas>=2.3.2->pandas-ta) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/miniconda3/lib/python3.13/site-packages (from pandas>=2.3.2->pandas-ta) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/miniconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas>=2.3.2->pandas-ta) (1.17.0)

In [20]:
df = yf.download(tickers = 'AAPL', start = '2023-01-01', end = '2023-12-31', interval = '1d')
df.head(5)

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2023-01-03  123.211205  128.954553  122.324579  128.343772  112117500
2023-01-04  124.482033  126.747853  123.221057  125.004155   89113600
2023-01-05  123.161942  125.871071  122.905811  125.240583   80962700
2023-01-06  127.693588  128.353629  123.033890  124.137247   87754700
2023-01-09  128.215683  131.427242  127.959553  128.530934   70790800

In [21]:
df.describe()

Price        Close        High         Low        Open        Volume
Ticker        AAPL        AAPL        AAPL        AAPL          AAPL
count   250.000000  250.000000  250.000000  250.000000  2.500000e+02
mean    170.510818  171.803594  168.962667  170.222273  5.922355e+07
std      17.340363   17.272210   17.538701   17.536310  1.778332e+07
min     123.161942  125.871071  122.324579  124.137247  2.404830e+07
25%     159.947018  160.218348  158.553386  159.396970  4.781208e+07
50%     173.604637  175.138089  171.987046  173.377061  5.511085e+07
75%     185.426708  186.059880  182.954159  184.564629  6.574292e+07
max     196.256577  197.752444  195.156959  196.167422  1.543573e+08

In [ ]:
tickers = ['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'TSLA']
data_list = []
# Loop through each ticker and download data from each one 
for ticker in tickers: 
    df = yf.download(tickers = ticker, start = '2023-01-01', end = '2023-12-31', interval = '1d')
    # Check if a column (df.columns) is multi-index (pd.MultiIndex) or not
    if isinstance(df.columns, pd.MultiIndex):
        df.columns = df.columns.get_level_values(0)
    
    # Initialize a new column 'RSI'
    """RSI stands for Relative Strength Index, it measures the velocity and
    magnitude of directional price movements to make predictions based on 
    ratio of upward movements to downward movements over a specified time period (ussually 14 days),
    it ranges from 0 to 100.
    
    If RSI > 70: Overbought condition (potentially overvalued, may see a price pullback)
    If RSI < 30: Oversold condition (potentially undervalued, may see a price bounce)
    """
    # Calculate RSI in 14 days period
    df['RSI'] = ta.rsi(df['Close'], length=14)    
    # Initialize a new column 'SMA_50'
    """
    SMA stands for Simple Moving Average, it is the average closing price over a specific period (in this case, 50 days).
    
    
    """

    df['SMA_50'] = ta.sma(df['Close'], length=50)
    
    final_df = df.concat([df['RSI'], df['SMA_50']], axis=1)
    final_df.head()

[*********************100%***********************]  1 of 1 completed

AttributeError: 'Series' object has no attribute 'ta_rsi'