# Review Data

In [1]:
import yfinance as yf
import pandas as pd
import sys
!{sys.executable} -m pip install pandas-ta
import pandas_ta as ta

Requirement already satisfied: pandas-ta in /opt/miniconda3/lib/python3.13/site-packages (0.4.71b0)
Requirement already satisfied: numba==0.61.2 in /opt/miniconda3/lib/python3.13/site-packages (from pandas-ta) (0.61.2)
Requirement already satisfied: numpy>=2.2.6 in /opt/miniconda3/lib/python3.13/site-packages (from pandas-ta) (2.2.6)
Requirement already satisfied: pandas>=2.3.2 in /opt/miniconda3/lib/python3.13/site-packages (from pandas-ta) (2.3.3)
Requirement already satisfied: tqdm>=4.67.1 in /opt/miniconda3/lib/python3.13/site-packages (from pandas-ta) (4.67.1)
Requirement already satisfied: llvmlite<0.45,>=0.44.0dev0 in /opt/miniconda3/lib/python3.13/site-packages (from numba==0.61.2->pandas-ta) (0.44.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/miniconda3/lib/python3.13/site-packages (from pandas>=2.3.2->pandas-ta) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/miniconda3/lib/python3.13/site-packages (from pandas>=2.3.2->pandas-ta) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/miniconda3/lib/python3.13/site-packages (from pandas>=2.3.2->pandas-ta) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/miniconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas>=2.3.2->pandas-ta) (1.17.0)

In [20]:
df = yf.download(tickers = 'AAPL', start = '2023-01-01', end = '2023-12-31', interval = '1d')
df.head(5)

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2023-01-03  123.211205  128.954553  122.324579  128.343772  112117500
2023-01-04  124.482033  126.747853  123.221057  125.004155   89113600
2023-01-05  123.161942  125.871071  122.905811  125.240583   80962700
2023-01-06  127.693588  128.353629  123.033890  124.137247   87754700
2023-01-09  128.215683  131.427242  127.959553  128.530934   70790800

In [21]:
df.describe()

Price        Close        High         Low        Open        Volume
Ticker        AAPL        AAPL        AAPL        AAPL          AAPL
count   250.000000  250.000000  250.000000  250.000000  2.500000e+02
mean    170.510818  171.803594  168.962667  170.222273  5.922355e+07
std      17.340363   17.272210   17.538701   17.536310  1.778332e+07
min     123.161942  125.871071  122.324579  124.137247  2.404830e+07
25%     159.947018  160.218348  158.553386  159.396970  4.781208e+07
50%     173.604637  175.138089  171.987046  173.377061  5.511085e+07
75%     185.426708  186.059880  182.954159  184.564629  6.574292e+07
max     196.256577  197.752444  195.156959  196.167422  1.543573e+08

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open    Volume  \
Date
2023-03-15  150.946396  151.202917  147.917397  149.170437  77167900
2023-03-16  153.768158  154.370010  149.614389  150.127447  76161100
2023-03-17  152.929504  154.646267  152.219121  153.995080  98944600
2023-03-20  155.297440  155.711842  152.090853  152.998577  73641400
2023-03-21  157.152344  157.270736  154.448939  155.218534  73938300

Price             RSI      SMA_50  Target Ticker
Date
2023-03-15  59.145568  142.745689       1   AAPL
2023-03-16  63.449901  143.356828       0   AAPL
2023-03-17  61.380042  143.925777       1   AAPL
2023-03-20  64.865176  144.568487       1   AAPL
2023-03-21  67.350700  145.157662       0   AAPL

Row totals: 201

Price            Close        High         Low        Open    Volume  \
Date
2023-03-15  150.946396  151.202917  147.917397  149.170437  77167900
2023-03-16  153.768158  154.370010  149.614389  150.127447  76161100
2023-03-17  152.929504  154.646267  152.219121  153.995080  98944600
2023-03-20  155.297440  155.711842  152.090853  152.998577  73641400
2023-03-21  157.152344  157.270736  154.448939  155.218534  73938300

Price             RSI      SMA_50  Target Ticker       Close        High  \
Date
2023-03-15  59.145568  142.745689       1   AAPL  259.891083  260.909350
2023-03-16  63.449901  143.356828       0   AAPL  270.426239  270.778699
2023-03-17  61.380042  143.925777       1   AAPL  273.588684  277.407151
2023-03-20  64.865176  144.568487       1   AAPL  266.539185  271.679436
2023-03-21  67.350700  145.157662       0   AAPL  268.056763  269.251260

Price              Low        Open    Volume        RSI      SMA_50  Target  \
Date
2023-03-15  253.791308  254.545230  46028000  57.494062  243.988159       1
2023-03-16  257.776310  259.665957  54768800  64.973431  244.716971       1
2023-03-17  270.543711  272.443159  69527400  66.858610  245.713738       0
2023-03-20  264.208932  271.189888  43466600  59.208633  246.702143       1
2023-03-21  263.885806  269.133774  34558700  60.262724  247.669724       0

Price      Ticker
Date
2023-03-15   MSFT
2023-03-16   MSFT
2023-03-17   MSFT
2023-03-20   MSFT
2023-03-21   MSFT

Row totals: 201

Price            Close        High         Low        Open    Volume  \
Date
2023-03-15  150.946396  151.202917  147.917397  149.170437  77167900
2023-03-16  153.768158  154.370010  149.614389  150.127447  76161100
2023-03-17  152.929504  154.646267  152.219121  153.995080  98944600
2023-03-20  155.297440  155.711842  152.090853  152.998577  73641400
2023-03-21  157.152344  157.270736  154.448939  155.218534  73938300

Price             RSI      SMA_50  Target  Ticker       Close  ...  Ticker  \
Date                                                           ...
2023-03-15  59.145568  142.745689       1    AAPL  259.891083  ...    MSFT
2023-03-16  63.449901  143.356828       0    AAPL  270.426239  ...    MSFT
2023-03-17  61.380042  143.925777       1    AAPL  273.588684  ...    MSFT
2023-03-20  64.865176  144.568487       1    AAPL  266.539185  ...    MSFT
2023-03-21  67.350700  145.157662       0    AAPL  268.056763  ...    MSFT

Price            Close        High         Low        Open    Volume  \
Date
2023-03-15   95.389267   96.203117   91.945287   92.520940  50622100
2023-03-16   99.567696  100.431174   94.783841   95.478589  65492000
2023-03-17  100.857948  102.068793   99.349343   99.508146  61028500
2023-03-20  100.460953  100.986977   99.121078   99.369203  32960400
2023-03-21  104.133202  104.311852  100.460951  100.490725  42110300

Price             RSI     SMA_50  Target  Ticker
Date
2023-03-15  55.056096  93.615071       1   GOOGL
2023-03-16  62.558413  93.837392       1   GOOGL
2023-03-17  64.527491  94.106161       0   GOOGL
2023-03-20  63.422277  94.404308       1   GOOGL
2023-03-21  68.753574  94.753272       0   GOOGL

[5 rows x 27 columns]

Row totals: 201

Price            Close        High         Low        Open    Volume  \
Date
2023-03-15  150.946396  151.202917  147.917397  149.170437  77167900
2023-03-16  153.768158  154.370010  149.614389  150.127447  76161100
2023-03-17  152.929504  154.646267  152.219121  153.995080  98944600
2023-03-20  155.297440  155.711842  152.090853  152.998577  73641400
2023-03-21  157.152344  157.270736  154.448939  155.218534  73938300

Price             RSI      SMA_50  Target  Ticker       Close  ...  Ticker  \
Date                                                           ...
2023-03-15  59.145568  142.745689       1    AAPL  259.891083  ...   GOOGL
2023-03-16  63.449901  143.356828       0    AAPL  270.426239  ...   GOOGL
2023-03-17  61.380042  143.925777       1    AAPL  273.588684  ...   GOOGL
2023-03-20  64.865176  144.568487       1    AAPL  266.539185  ...   GOOGL
2023-03-21  67.350700  145.157662       0    AAPL  268.056763  ...   GOOGL

Price            Close        High        Low       Open    Volume        RSI  \
Date
2023-03-15   96.199997   96.669998  93.070000  93.220001  70731800  52.576531
2023-03-16  100.040001  100.989998  95.610001  95.750000  84446900  60.264690
2023-03-17   98.949997  100.660004  97.459999  99.790001  87300200  57.419137
2023-03-20   97.709999   98.480003  95.699997  98.410004  62388900  54.279241
2023-03-21  100.610001  100.849998  98.000000  98.139999  58597300  59.813962

Price        SMA_50  Target  Ticker
Date
2023-03-15  95.9290       1    AMZN
2023-03-16  96.2134       0    AMZN
2023-03-17  96.4896       0    AMZN
2023-03-20  96.7814       1    AMZN
2023-03-21  97.0720       0    AMZN

[5 rows x 36 columns]

Row totals: 201

Price            Close        High         Low        Open    Volume  \
Date
2023-03-15  150.946396  151.202917  147.917397  149.170437  77167900
2023-03-16  153.768158  154.370010  149.614389  150.127447  76161100
2023-03-17  152.929504  154.646267  152.219121  153.995080  98944600
2023-03-20  155.297440  155.711842  152.090853  152.998577  73641400
2023-03-21  157.152344  157.270736  154.448939  155.218534  73938300

Price             RSI      SMA_50  Target  Ticker       Close  ...  Ticker  \
Date                                                           ...
2023-03-15  59.145568  142.745689       1    AAPL  259.891083  ...    AMZN
2023-03-16  63.449901  143.356828       0    AAPL  270.426239  ...    AMZN
2023-03-17  61.380042  143.925777       1    AAPL  273.588684  ...    AMZN
2023-03-20  64.865176  144.568487       1    AAPL  266.539185  ...    AMZN
2023-03-21  67.350700  145.157662       0    AAPL  268.056763  ...    AMZN

Price            Close        High         Low        Open     Volume  \
Date
2023-03-15  180.449997  182.339996  176.029999  180.800003  145995600
2023-03-16  184.130005  185.809998  178.839996  180.369995  121136800
2023-03-17  180.130005  186.220001  177.330002  184.520004  133197100
2023-03-20  183.250000  186.440002  176.350006  178.080002  129684400
2023-03-21  197.580002  198.000000  188.039993  188.279999  153391400

Price             RSI    SMA_50  Target  Ticker
Date
2023-03-15  48.654516  170.3836       1    TSLA
2023-03-16  51.096602  171.9042       0    TSLA
2023-03-17  48.401863  173.2340       1    TSLA
2023-03-20  50.590693  174.6922       1    TSLA
2023-03-21  59.159918  176.3826       0    TSLA

[5 rows x 45 columns]

Row totals: 201